@import '../styles/variables';

.overall-score {
  background: #5D737E;
  color: #FFFFFF;
  font-weight: bold;
  padding: 0.5rem;
  margin-left: 1rem;
  cursor: default;
  user-select: none;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 2rem;
  height: 2rem;
  font-size: 1.7rem;

  position: relative;
  z-index: 1000;

  &:before, &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    transform: rotate(30deg);
    z-index: -1;
  }

  &:after {
    transform: rotate(-30deg);
  }

  &.red {
    background: $status-red;
  }

  &.yellow {
    background: $status-yellow;
  }

  &.green {
    background: $status-green;
  }
}