@import './styles/variables';

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#main-container {
  flex-grow: 1;
}

#main {
  padding: 0.5rem;

  display: grid;
  grid-template-columns: repeat( auto-fit, $tile-width );
  column-gap: 0.75rem;
  justify-content: center;
  justify-items: center;

  padding-top: $header-height + 0.5rem;
}
