@import './styles/variables';

#header {
  background: #3E5C76;
  color: #FFFFFF;
  padding: 0.75rem;
  position: fixed;
  width: 100%;
  height: $header-height;
  box-sizing: border-box;
  z-index: 9999;

  display: flex;
  align-items: center;

  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.25);

  h1 {
    margin: 0;
    font-size: 1.2rem;
    margin-left: 0.5rem;
    flex-grow: 1;
  }
}